	#vdatatable_currpage{
		border:1px solid #CCC;
		width:30px;
		font-size:12px;
		color:#333;
		text-align:center;
	}
	ul#vtable_title{
		padding:0;
		margin:0;
		width:100%;
		height:25px;
		line-height:25px;
		list-style-type:none;
		border:0px;
	}
	.nodata{
		text-align:center;
		width:100%;
		color:#666;
	}
	.vdatatable_loading{
		display:inline-block;
		padding:0;
		margin:0;
		margin-top:0;
		width:200px;
		height:40px;
		line-height:40px;
		border:1px solid #CCC;
		position:relative;
		left:0;
		top:0;
		z-index:999;
		color:#666;
		background-color:#FFF;
		font-size:12px;
		text-align:center;
	}
	.vdatatable_loading img{
		padding:0;
		margin:0;
		max-width:32px;
		width:32px;
		height:32px;
		border:0px;
		vertical-align: middle;
	}
	ul#vtable_title li{
		display:inline;
		float:left;
		border:0px;
		font-weight:bold;
		font-size:13px;
		line-height:25px;
		background-color:#CCC;
		border-bottom:1px solid #CCC;
	  }
	  ul#vtable_data{
		padding:0;
		margin:0;
		width:100%;
		line-height:25px;
		list-style-type:none;
		border:0px;
	  }
	  ul#vtable_data li{
		width:100%;
		display:inline;
		float:left;
		border:0px;
		line-height:25px;
		border-bottom:1px solid #CCC;
	  }
	  
		#vtable_ctrl{
		padding:0;
		margin:0;
		width:100%;
		line-height:35px;
		list-style-type:none;
		border:0px;
	  }
	  #vtable_ctrl li{
		display:inline;
		float:left;
		border:0px;
		line-height:35px;
		border-bottom:1px solid #CCC;
	  }
	  .vdata_pagebar_li {
		width:70%;
		float:left;
		height:35px;
		line-height:35px;
		text-align:right;
		font-size:12px;
		color:#333;
		border:0px;
	  }
	  .vdata_pagebar_li a{
		font-size:12px;
		color:#006699;
		text-decoration:none;
		cursor:pointer;
	  }
	  .vdata_select_li{
		width:30%;
		float:left;
		text-align:left;
		font-size:12px;
		color:#333;
		border:0px;
	  }
	  .vdata_select_li a{
		font-size:12px;
		color:#006699;
		text-decoration:none;
		cursor:pointer;
		padding:0px;
		padding-left:2px;
		padding-right:2px;
	  }
	  #op_bar{
		width:100%;
		height:25px;
		line-height:25px;
		text-align:left;
		font-size:12px;
		color:#333;
		border:0px solid #CCC;
		border-bottom:1px solid #EFEFEF;
		background-color:#FFF;
	  }
	  #op_bar a{
		color:#0099CC;
		padding-left:2px;
		padding-right:2px;
	  }
	  .spec{
		background-color:#DDFFDD;
	  }
	  .curr{
		background-color:#FF0000;
	  }
	  .yselected{
		background-color:#C4C4FF;
	  }
	  .getchecked{
		background-color:#0099CC;
	  }
	  #vdatatable_currpage{
		padding:0px;
	  }
	  #debugbox{
		width:100%;
		height:200px;
		line-height:20px;
		border:1px solid #CCC;
		clear:both;
	  }